body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/03.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffa8B6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #f537bc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3193d4;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    background-color: #d1f0e7;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  li .delete-btn {
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  li .delete-btn:hover {
    background-color: #ff0000;
  }
  